h2{
    text-align: left;
    margin:1em 0;
    font-weight: 800;
}

nav, #menu_icon{
    background-color: #012840;
    border: none;
}

nav p{
    color: #FFF;
}

.titulo_e_botao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #147CA6;
}

#add_button{
    max-height: 3em;
    box-shadow: 10px 10px 15px #00000051;
    padding: 0.5em 1em 0.5em 0.75em;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.2s;
}

#add_button:hover{
    filter: brightness(120%);
}

#add_button img{
    height: 2em;
    margin-right: 0.5em;
}


.dropdown{
    background: #FFF;
    box-shadow: 0px 10px 15px #00000051;
    padding: 1.5em;
    margin-bottom: 1em;
}

.dropdown:hover{
    box-shadow: 10px 15px 20px #00000065;
    transition: 0.25s;

}

.btn_dropdown{
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.ver_mais{
    display: flex;
    align-items: center;
}

.turned{
    transform: rotate(180deg);
    transition: 0.25s;
}

.ver_mais img{
    transition: 0.25s;
    margin-left: 0.5em;
    height: 1em;
}

.opcoes{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 2em;
    /* position: relative;
    left: calc(100% - 2em);
    top: 2em; */
}

.option{
    height: 1em;
    padding: 0.25em;
    margin-bottom: 2em;
    filter: opacity(80%);
    cursor: pointer;
}

.option:hover{
    filter: opacity(100%);
}

.caracteristicas{
    position: relative;
    top: 0;
}

.caracteristica{
    padding: 0.5em 0;
}

.valor{
    font-size: 1.25em;
    font-weight: 600;
}

.dropdown_flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-top: 1px solid #807e7e;
    margin: 1.5em 0;
}

.dropdown-header{
    /* margin-bottom: 1em; */
    font-weight: 600;
}

.dropdown_content{
    display: none;
}

.dropdown-menu{
    margin-top: 1em;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    margin-right: -2em;
}

.dropdown-item{
    background-color: #dbdbdb;
    cursor: pointer;
    padding: 0.5em;
    margin-bottom: 1em;
    margin-right: 2em;
    width: 8.5em;
    height: 8.5em;
    display: flex;
    align-items: center;
    text-align: center;
    transition: 0.25s;

}

.dropdown-item:hover{
    border: 1px solid #0080CE;
}

.add_item img{
    margin: auto;
}

.add_item{
    filter: grayscale(100%);
}

.add_item:hover{
    filter: unset !important;
}

/* .dropdown-item::after{
    content: "";
    display: block;
    margin: auto;
    width: 100%;
    background-color: #8b8b8b;
    height: 2px;
    margin-top: 0.5em;
} */


h3{
    font-size: 1.5em;
}


@media only screen and (max-width: 600px){
    .dropdown-menu{
        justify-content: space-between;
    }
    
    .dropdown-item{
        width: 6.5em;
        height: 6.5em
    }

}


