h2{
    text-align: left;
    margin:1em 0;
    font-weight: 800;
}

.dropdown{
    /* margin: auto; */
    /* width: 85%; */
    background: #FFF;
    box-shadow: 0px 10px 15px #00000051;
    padding: 1.5em;
    margin-bottom: 1em;
}

.dropdown:hover{
    box-shadow: 10px 15px 20px #00000065;
    transition: 0.25s;

}

.btn_dropdown{
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.ver_mais{
    display: flex;
    align-items: center;
}

.turned{
    transform: rotate(180deg);
    transition: 0.25s;
}

.ver_mais img{
    transition: 0.25s;
    margin-left: 0.5em;
    height: 1em;
}

.event_description{
    margin: 1em 0;
    font-weight: 600;
    display: none;
    text-align: justify;
    text-align-last: left;
}

.dropdown-header{
    /* margin-bottom: 1em; */
    font-weight: 600;
}

.dropdown-menu{
    margin-top: 2em;
    list-style-type: none;
    display: none;
}

.dropdown-item{
    padding: 0.5em 0;
    width: 100%;
}

.dropdown-item::after{
    content: "";
    display: block;
    margin: auto;
    width: 100%;
    background-color: #8b8b8b;
    height: 2px;
    margin-top: 0.5em;
}

.dropdown-item a{
    text-decoration: none;
    color: #000;
    width: 100%;
}

.dropdown-item a:hover{
    color: #0080ce;
}


.btn_evento{
    background-color: #fff;
    text-align: left;
    width: 100%;
}

h3{
    font-size: 1.5em;
}

@media only screen and (max-width: 1100px){
    .dropdown{
        width: unset;
    }
}

@media only screen and (max-width: 600px){
    #subtitle{
        text-align: center;
        font-size: 1.75em;
        margin-bottom: 0.5em;
    }

    .dropdown{
        padding: 1em;
    }

    h3{
        margin-bottom: 0.25em;
        text-align: left;
    }

    #subtitle::before{
        margin-bottom: 1em;
    }

}