h2{
    text-align: left;
    font-weight: 800;
    font-size: 2.5em;
    margin: 0;
}

.titulo_e_filtros{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:3em 0 2em 0;
    width: 100%;
}

.filtros{
    /* width: 20%; */
    display: flex;
    justify-content: space-between;
}


.filtro{
    padding: 0.5em;
    border: none;
    box-shadow: 5px 5px 5px #00000031;
    /* max-width: 50%; */
    /* font-size: 0.8em; */
}

#tipos{
    margin-right: 1em;
}

#locais_de_atendimento{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box{
    background-color: #FFF;
    box-shadow: 0px 10px 15px #00000051;
    width: 28%;
    padding: 1.5em;
    margin-bottom: 2.5em;
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

h3{
    font-size: 1.75em;
}

.caracteristica{
    text-align: left;
    margin: 0.75em 0;
}

.valor{
    font-size: 1.5em;
    font-weight: 600;
}

.smaller{
    font-weight: 600;
    font-size: 1em;
    color: #858585;
}

.box a{
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 0.5em;
    text-decoration: none;
    color: #CF4B15;
}

.box a:hover{
    color: #da8766;
    text-decoration: underline;
}

@media only screen and (max-width: 1600px){
    .box{
        padding: 1em;
    }

    h3{
        font-size: 1.25em;
    }

    .filtros{
        max-width: 35%;
        justify-content: flex-end;
    }

    #bairros{
        max-width: 50%;
    }

    .valor{
        font-size: 1em;
    }

    .smaller{
        font-size: 0.8em;
    }

    .box a{
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 800px){
    .content{
        width: 90%;
    }
    
    h2{
        font-size: 2em;
    }

    .box{
        width: 48%;
    }

    .filtros{
        max-width: unset;
    }

    .filtro{
        font-size: 1em;
        width: 48%;
    }

    .titulo_e_filtros{
        flex-flow: column nowrap;
    }

    .filtros{
        margin-top: 2em;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .titulo_e_filtros::after{
        content: "";
        display: block;
        background-color: #147CA6;
        width: 100%;
        height: 5px;
        margin-top: 1em;
    }

    .box{
        max-width: 42%
    }

    h3{
        font-size: 1.75em;
        font-weight: 700;
    }

    .smaller{
        font-size: 1em;
    }

    .valor{
        font-size: 1.5em;
    }
    
    .box a{
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 620px){
    h2{
        font-size: 1.75em;
    }

    .filtro{
        padding: 0.25em;
        width: 100%;
        margin: auto;
    }

    #locais_de_atendimento{
        flex-flow: column;
    }

    .box{
        max-width: 100%;
        width: 90%;
    }

    h3{
        font-size: 1.5em;
    }

    .valor{
        font-size: 1.25em;
    }

    .smaller{
        font-size: 0.9em;
    }

    
}