*{
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
}

/* PESOS DA FONTE: 400,500,600,700,800 */


    /* FIX ME? */

/* ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #7cc4f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #147CA6;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ffc400;
  } */




.container{
    width: 75%;
    display: block;
}

.content{
    width: 80%;
    margin: auto;
}

nav{
    z-index: 1000;
    background-color: #0080CE;
    position: fixed;
    padding: 2.5em 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 25%;
    height: calc(100vh - 5em);
    box-shadow: 0 15px 30px #000000;
    overflow: auto;

    
}


.logo_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin:1em 0px 4em 0px;
}


.logo{
    height: 9em;
}

h1{
    color: #FFFFFF;
    font-size: 3em;
}

h1 span{
    font-weight: 800;
}

nav ul{
    list-style-type: none;
    width: 85%;
}

.nav_link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFF;
    padding: 0.75em 0;
    margin: 0.5em 0;
    font-size: 1.85em;
}

.nav_link:hover{
    transition: 0.15s;
    color: #ffc400;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}

.nav_link img{
    height: 2em;
    margin-right: 1em;
}

main{
    background-color: #EBEBEB;
    min-height: 100vh;
    padding: 2em;
    position: absolute;
    right: 0;
}

#login{
    margin-top: 1.5em;
}

#login::before{
    content: "";
    display: block;
    margin: auto;
    background-color : #ffffffbd;
    height: 3px;
}

#login img{
    transform: rotate(180deg);
}

h2{
    color: #147CA6;
    font-size: 3em;
    font-weight: 600;
    text-align: right;
    margin-bottom: 3.5em;
}

#saude{
    font-weight: 800;
    color: #CF1516;
}

#poa{
    font-weight: 800;
}

.text_1{
    font-size: 2em;
    color: #3C3E3E;
}

.main_link{
    cursor: pointer;
    transition: 2s;
}

.main_box{
    background-color: #FFF;
    display: flex;
    align-items: center;
    box-shadow: 15px 10px 15px #00000067;
    height: 12em;
    margin: 1.5em 0;
    padding: 0.5em 2.5em;
    transition: 0.3s ease-in-out;
}

.main_box:hover{
    transition: 0.3s ease-in-out;
    transform: translate(1.2em) scale(1.02,1.02);
    background-color: #ffc400;
}

.icon{
    height: 90%;
    margin-right: 1em;
}

h3{
    color: #147CA6;
    font-size: 2.5em;
    font-weight: 800;
}

.description{
    font-weight: 500;
    font-size: 1.25em;
}